# Raytracer scene file example
# Python-like indentation
# ****************************

# Scene Description
width: 1200
height: 800
antialias: 4
recursivity: 4
diaphragm: 1.0

# Camera

# Lights
light:
	x: 255
	y: 2
	z: 1
	intensity: 1.0
	red: 1.0
	blue: 0.5
	green: 0.2

light:
	x: -25
	y: 20
	z: 10
	intensity: 9.0
	red: 0.1
	blue: 0.5
	green: 0.2

# Defining a skybox
sphere:
	x: 0
	y: 0
	z: 0
	radius: 60000
	color: 
	rotX: 0
	rotY: 0
	rotZ: 40

# Defining a ground
plane:
	x: 0
	y: 0
	z: 0
	normX: 0
	normY: 0
	normZ: 1
	diffuse: 0.5
	specular: 1.0

# This will make an object with default properties
plane:

cone:
	x: 255
	y: 2
	z: 1
	aperture: 120
	rotX: 320
	rotY: 120
	rotZ: 0

plane:
	x: 255
	y: 2
	z: 1
	rotX: 320
	rotY: 120
	rotZ: 0
	color: 4F5F6F

cylinder:
	x: 255
	y: 2
	z: 1
	rotX: 320
	rotY: 120
	rotZ: 0
	color: 4F5F6F